
h1{
    border-bottom: solid #00f;
    border-width: 2px;
}

h2{
    border-style: solid;
    border-color: #aaa;
    border-width: 2px;
}

ul{
    border-bottom: dotted #f00;
    border-top: dotted #f00;
    border-width: 4px;
}

.ul2{
    border-style: dashed;
    border-color: #0F0;
    border-width: 2px;
}