/*Agrega el selector aquí */
div{
    background-color: brown;
}
  /*Agrega el selector aquí */

  /* Ignora esto, por ahora */
  * {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/*Agrega los selectores aquí */
.card{
    background-color: blueviolet;
}
  /*Agrega los selectores aquí */
.card1, .card2{
    color: aquamarine;
}
  /* Ignora esto, por ahora */
  * {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/*Agrega los selectores aquí */
#eliminar{
    background-color: red;
}
  /*Agrega los selectores aquí */

  /* Ignora esto, por ahora */
  * {
    font-size: 1.2rem;
    padding: 5px;
    margin-bottom: 10px;
}

/*Agrega los selectores aquí */
a[href="https://platzi.com"]{
    background-color: brown;
}
  /*Agrega los selectores aquí */

  /* Ignora esto, por ahora */
  * {
    font-size: 1.2rem;
    padding: 5px;
    margin-bottom: 10px;
}
a {
    display: block;
}

/*Agrega los selectores aquí */
*{
    background-color: blue;
}
  /*Agrega los selectores aquí */